/* GLOBAL */
body {
    font-family: Arial;
    margin: 0;
    background: #f5f7fa;
}

/* HEADER */
header {
    background-color: #f8fafc; /* fond clair */
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo {
    height: 80px;
}

/* MENU */
nav a {
    color: #3b82f6; /* bleu visible */
    margin-left: 20px;
    text-decoration: none;
    font-weight: 600;
    opacity: 1; /* pas transparent */
    transition: 0.3s;
}

nav a:hover {
    color: #1e3a8a; /* bleu foncé */
}

/* HERO */
.hero {
    background: linear-gradient(to right, #1e3a8a, #3b82f6);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.slogan {
    color: gold;
    font-weight: bold;
}

/* SERVICES */
.services {
    background-color: #f8fafc;
    padding: 50px 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* important pour mobile */
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
